<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devjsky.android.whereuat">
    <!-- queries에 카카오톡 패키지 추가 -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".widget.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhereUAt">
        <activity android:name=".view.ui.login.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity
            android:name=".view.ui.tracking.activity.LocationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing">

        </activity>



        <activity
            android:name=".view.ui.tracking.activity.TrackingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".view.ui.splash.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data
                    android:host="kakaolink"
                    android:scheme="kakao959ff9cf592a65fd4f8bbf962e38ad91" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.main.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="07q890uof8" />
        <service
            android:name=".widget.LocationUpdateService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao959ff9cf592a65fd4f8bbf962e38ad91" />
                <!-- <data -->
                <!-- android:host="oauth" -->
                <!-- android:scheme="kakaoa8f28b7a0cfc72cd47ee929d140a1928" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>